# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Django
*.sqlite3
db.sqlite3
*.log

# Environment
.env
venv/
.env.local
.env.*.local

# VSCode/PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
